body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(175, 255, 228);
  font-family: 'Lobster';
  color: #F8DC3C;
  letter-spacing: 2px;
}

h1 {
  text-align: center;
  margin: 0;
  font-size: min(40px, 3vw);
  letter-spacing: 5px;
}

div {
  font-size: min(25px, 2vw);
}

button {
  font-family: 'Lobster';
  color: black;
  font-size: min(25px, 2vw);
  border-radius: 50%;
  width: inherit;
  height: inherit;
  cursor: pointer;
  letter-spacing: 3px;
}

#red-background {
  background-color: rgb(248, 81, 81);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: min(20px, 5vw) min(5vw, 5vh);
  border-radius: 10px;
  border: 2px solid black;
  box-shadow: 10px 10px 37px 5px rgba(0, 0, 0, 0.4);
}

#grid-container {
  width: clamp(300px, 60vw, 750px);
  aspect-ratio: 16 / 9;
  display: grid;
  border: solid 2px black;
  background-color: gainsboro;
  border-radius: 20px;
  margin: 1vw 0;
  overflow: hidden;
  box-shadow: inset 10px 10px 90px -40px rgba(0, 0, 0, 1);
}

#control-wrapper {
  display: flex;
  gap: min(5vh, 5vw);
}

#pencil-case {
  display: flex;
  flex-direction: column;
  gap: min(10px, 0.5vw);
  align-items: center;
  padding: 10px;
}

#pencil-case div {
  display: flex;
  gap: min(20px, 0.5vw);
  align-items: center;
}

.white-circle {
  width: clamp(60px, 12vw, 110px);
  height: clamp(60px, 12vw, 110px);
  border-radius: 50%;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: min(180px, 5w);
  border: 3px solid #F8DC3C;
  border-radius: 5px;
  overflow: hidden;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: black;
  height: min(30px, 4vh);
  width: min(20px, 3vh);
}

input[type="color"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  overflow: hidden;
}

input[type="color"]::-webkit-color-swatch {
  border: 3px solid #F8DC3C;
  width: 20px;
  height: 17px;
  margin-top: -3px;
}

input[type="color"]::-moz-color-swatch {
  border: 3px solid #F8DC3C;
  width: 20px;
  height: 17px;
  margin-top: -3px;
}


footer {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: min(20px, 3vw);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  color: black;
  letter-spacing: 0px;
  margin-top: 2vw;
}