body {
  width: 100vw;
  height: 100vh;
  background-image: url('wallpaperflare.com_wallpaper.jpg');
  background-size: cover;
  background-position: 55% 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 150px;
  margin: 0;

}

h1 {
  text-align: center;
}

#grid-container {
  width: clamp(350px, 25vw, 600px);
  height: clamp(350px, 25vw, 600px);
  display: grid;
}

#pencil-case {
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
}

#pencil-case div {
  display: flex;
  gap: 10px;
  align-items: center;
}